body {
    background-color: #E2E9F1;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-grid;
    grid-template-columns: 300px 1fr;
    width: 100%;
    margin: 0px;
}

#navigation-menu {
    background: #2592D0;
    padding: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

#page-body-head {
    background: #ffffff;
    display: inline-grid;
    grid-template: 60px 60px / 1fr 599px;
    width: -webkit-fill-available;
    box-shadow: 0px 0px 7px #999898;
    padding: 20px;
}

#user-details-sml {
    display: inline-grid;
    grid-template: auto / 30px 50px 1fr;
    gap: 20px;
    align-content: center;
}

#user-details-lrg {
    display: inline-grid;
    grid-template-columns: 80px 1fr;
}

button {
    background: #2592D0;
    padding: 9px 20px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background: #167ab4;
}

#context-menu-btns {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 6fr;
    gap: 20px;
    margin: auto;
}

#cards-heading {
    grid-column: 1 / 3;
}

#project-cards-section {
    padding: 20px;
}

#announcements-trending-section {
    padding: 20px;
}

#inner-page-section {
    display: inline-grid;
    grid-template-columns: 6fr 400px;
}

#announcements-container {
    display: inline-grid;
    gap: 20px;
    margin-bottom: 20px;
}

#project-card-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px #9998986b;
    border-left: 10px solid #ffa500;
}

#cards {
    display: inline-grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 20px;
}

#trending {
    display: inline-grid;
    grid-template: 1fr / 50px 1fr;
    width: 100%;
    padding: 20px;
}

#trending:last-child {
    padding-bottom: 0;
}

#announcement {
    border-bottom: 1px solid #e9e9e9;   
}

#announcement:last-child {
    border-bottom: none;   
}


#trends-container, #announcements-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px #9998986b;
}

#icons {
    display: inline-grid;
    grid: 1fr / 35px 35px 35px;
    gap: 25px;
    width: 97%;
    justify-content: right;
    margin-top: 10px;
}

img {
    cursor: pointer;
}

.menu-group {
    padding-bottom: 20px;
}

#link > svg {
    fill: #ffffff;
    width: 23px;
    margin: 8px 20px;
    margin-bottom: -4px;
}

#logo > svg {
    width: 60px;
    margin-bottom: -23px;
    margin-right: 3px;
    fill: #ffffff;
}

#link {
    cursor: pointer;
    padding-top: 15px;
}

input[type="text"] {
    margin: 10px;
    width: 80%;
    padding: 10px;
    height: 10px;
    border-radius: 19px;
    background: #e5e5e5;
    border: none;
}

img.icon {
    width: 30px;
    margin-bottom: -11px;
}