body {
    background-color: #E2E9F1;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-grid;
    grid-template-columns: 300px 1fr;
    width: 100%;
    margin: 0px;
}

#navigation-menu {
    background: #2592D0;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
}

#page-body-head {
    background: #ffffff;
    padding: 10px;
    display: inline-grid;
    grid-template: 50px 50px / 1fr 600px;
    width: 100%;
    box-shadow: 0px 0px 7px #999898;
}

#user-details-sml {
    display: inline-grid;
    grid-template: auto / 1fr 1fr 7fr;
}

#user-details-lrg {
    display: inline-grid;
    grid-template-columns: 1fr 8fr;
}

#context-menu-btns {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 6fr;
}

#cards-heading {
    grid-column: 1 / 3;
}

#project-cards-section {
    padding: 20px;
}

#announcements-trending-section {
    padding: 20px;
}

#inner-page-section {
    display: inline-grid;
    grid-template-columns: 6fr 400px;
}

#announcements-container {
    display: inline-grid;
    gap: 20px;
    margin-bottom: 20px;
}

#project-card-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 0.5em;
}

#cards {
    display: inline-grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 20px;
}

#trending {
    display: inline-grid;
    grid-template: 1fr / 50px 1fr;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e9e9e9;
}

#trending:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

#announcement {
    border-bottom: 1px solid #e9e9e9;   
}

#announcement:last-child {
    border-bottom: none;   
}


#trends-container, #announcements-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 0.5em;
}